p {
  font-family: "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.15em;
  padding-left: 0px;
  color: #000000;
  line-height: 1.5;
}

blockquote {
  font-style: italic;
}

h1 {
  color: #ab9767;
  font-size: 2.18em;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  padding-left: 0px;
}

h2 {
  color: #686868;
  font-size: 164%;
  font-weight: normal;
  text-transform: capitalize;
  padding-bottom: 0.5em;
  padding-left: 0px;
  font-family: franklin-gothic-urw, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h3 {
  color: #686868;
  font-size: 164%;
  font-weight: normal;
  text-transform: capitalize;
  padding-bottom: 0.5em;
  padding-left: 0px;
  font-family: franklin-gothic-urw, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h4 {
  color: #686868;
  font-size: 118%;
  font-weight: normal;
  padding-bottom: 0.5em;
  padding-left: 0px;
}

.fa-6 {
  font-size: 20em;
}

.fa-5 {
  font-size: 12em;
}

.fa-3 {
  font-size: 4em;
}

.fa-2 {
  font-size: 2em;
}

.fa-1 {
  font-size: inherit;
}

.btn-sharp-gold {
  float: left;
  text-align: center;
}
.btn-sharp-gold a {
  float: left;
  border: 3px solid #ab9767;
  padding: 0.5em 2em 0.5em 2em;
  color: #ab9767;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-gold a:hover {
  background-color: #ab9767;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-green {
  float: left;
  text-align: center;
}
.btn-sharp-green a {
  float: left;
  border: 3px solid #004d40;
  padding: 0.5em 2em 0.5em 2em;
  color: #004d40;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-green a:hover {
  background-color: #004d40;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-red {
  float: left;
  text-align: center;
}
.btn-sharp-red a {
  float: left;
  border: 3px solid #7a232c;
  padding: 0.5em 2em 0.5em 2em;
  color: #7a232c;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-red a:hover {
  background-color: #7a232c;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-black {
  float: left;
  text-align: center;
}
.btn-sharp-black a {
  float: left;
  border: 3px solid #000000;
  padding: 0.5em 2em 0.5em 2em;
  color: #000000;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-black a:hover {
  background-color: #000000;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-blue {
  float: left;
  text-align: center;
}
.btn-sharp-blue a {
  float: left;
  border: 3px solid #4f86a0;
  padding: 0.5em 2em 0.5em 2em;
  color: #4f86a0;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-blue a:hover {
  background-color: #4f86a0;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-grey {
  float: left;
  text-align: center;
}
.btn-sharp-grey a {
  float: left;
  border: 3px solid #b2b3b2;
  padding: 0.5em 2em 0.5em 2em;
  color: #b2b3b2;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-grey a:hover {
  background-color: #b2b3b2;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-gold-fill {
  float: left;
  text-align: center;
}
.btn-sharp-gold-fill a {
  float: left;
  border: 3px solid #ab9767;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #ab9767;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-gold-fill a:hover {
  background-color: transparent;
  color: #ab9767;
  text-decoration: none;
}

.btn-sharp-green-fill {
  float: left;
  text-align: center;
}
.btn-sharp-green-fill a {
  float: left;
  border: 3px solid #004d40;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #004d40;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-green-fill a:hover {
  background-color: transparent;
  color: #004d40;
  text-decoration: none;
}

.btn-sharp-red-fill {
  float: left;
  text-align: center;
}
.btn-sharp-red-fill a {
  float: left;
  border: 3px solid #7a232c;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #7a232c;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-red-fill a:hover {
  background-color: transparent;
  color: #7a232c;
  text-decoration: none;
}

.btn-sharp-black-fill {
  float: left;
  text-align: center;
}
.btn-sharp-black-fill a {
  float: left;
  border: 3px solid #000000;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #000000;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-black-fill a:hover {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}

.btn-sharp-blue-fill {
  float: left;
  text-align: center;
}
.btn-sharp-blue-fill a {
  float: left;
  border: 3px solid #4f86a0;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #4f86a0;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-blue-fill a:hover {
  background-color: transparent;
  color: #4f86a0;
  text-decoration: none;
}

.btn-sharp-grey-fill {
  float: left;
  text-align: center;
}
.btn-sharp-grey-fill a {
  float: left;
  border: 3px solid #b2b3b2;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #b2b3b2;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-grey-fill a:hover {
  background-color: transparent;
  color: #b2b3b2;
  text-decoration: none;
}

.btn-soft-gold {
  float: left;
  text-align: center;
}
.btn-soft-gold a {
  float: left;
  border: 3px solid #ab9767;
  padding: 0.5em 2em 0.5em 2em;
  color: #ab9767;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-gold a:hover {
  background-color: #ab9767;
  color: #fff;
  text-decoration: none;
}

.btn-soft-green {
  float: left;
  text-align: center;
}
.btn-soft-green a {
  float: left;
  border: 3px solid #004d40;
  padding: 0.5em 2em 0.5em 2em;
  color: #004d40;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-green a:hover {
  background-color: #004d40;
  color: #fff;
  text-decoration: none;
}

.btn-soft-red {
  float: left;
  text-align: center;
}
.btn-soft-red a {
  float: left;
  border: 3px solid #7a232c;
  padding: 0.5em 2em 0.5em 2em;
  color: #7a232c;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-red a:hover {
  background-color: #7a232c;
  color: #fff;
  text-decoration: none;
}

.btn-soft-black {
  float: left;
  text-align: center;
}
.btn-soft-black a {
  float: left;
  border: 3px solid #000000;
  padding: 0.5em 2em 0.5em 2em;
  color: #000000;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-black a:hover {
  background-color: #000000;
  color: #fff;
  text-decoration: none;
}

.btn-soft-blue {
  float: left;
  text-align: center;
}
.btn-soft-blue a {
  float: left;
  border: 3px solid #4f86a0;
  padding: 0.5em 2em 0.5em 2em;
  color: #4f86a0;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-blue a:hover {
  background-color: #4f86a0;
  color: #fff;
  text-decoration: none;
}

.btn-soft-grey {
  float: left;
  text-align: center;
}
.btn-soft-grey a {
  float: left;
  border: 3px solid #b2b3b2;
  padding: 0.5em 2em 0.5em 2em;
  color: #b2b3b2;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-grey a:hover {
  background-color: #b2b3b2;
  color: #fff;
  text-decoration: none;
}

.btn-soft-gold-fill {
  float: left;
  text-align: center;
}
.btn-soft-gold-fill a {
  float: left;
  border: 3px solid #ab9767;
  padding: 0.5em 2em 0.5em 2em;
  color: #fff;
  background-color: #ab9767;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-gold-fill a:hover {
  background-color: transparent;
  color: #ab9767;
  text-decoration: none;
}

.btn-soft-green-fill {
  float: left;
  text-align: center;
}
.btn-soft-green-fill a {
  float: left;
  border: 3px solid #004d40;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #004d40;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-green-fill a:hover {
  background-color: transparent;
  color: #004d40;
  text-decoration: none;
}

.btn-soft-red-fill {
  float: left;
  text-align: center;
}
.btn-soft-red-fill a {
  float: left;
  border: 3px solid #7a232c;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #7a232c;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-red-fill a:hover {
  background-color: transparent;
  color: #7a232c;
  text-decoration: none;
}

.btn-soft-black-fill {
  float: left;
  text-align: center;
}
.btn-soft-black-fill a {
  float: left;
  border: 3px solid #000000;
  padding: 0.5em 2em 0.5em 2em;
  color: #fff;
  background-color: #000000;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-black-fill a:hover {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}

.btn-soft-blue-fill {
  float: left;
  text-align: center;
}
.btn-soft-blue-fill a {
  float: left;
  border: 3px solid #4f86a0;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #4f86a0;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-blue-fill a:hover {
  background-color: transparent;
  color: #4f86a0;
  text-decoration: none;
}

.btn-soft-grey-fill {
  float: left;
  text-align: center;
}
.btn-soft-grey-fill a {
  float: left;
  border: 3px solid #b2b3b2;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #b2b3b2;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-grey-fill a:hover {
  background-color: transparent;
  color: #b2b3b2;
  text-decoration: none;
}

/* CSS Document */
html {
  background-color: #efefef;
}

body {
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  background-color: #e2e1e0;
  padding-top: 1em;
  padding-bottom: 0em;
  margin-top: -1.4em;
}
header img {
  margin-left: 0em;
}

img {
  width: 100%;
}

hr {
  width: 80%;
  float: left;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* NAVIGATION STYLES */
.nav li {
  display: inline;
  padding-bottom: 0.7em;
}
.nav li a {
  list-style-type: none;
  display: inline;
  color: #686868;
  float: left;
  padding: 2em 2em 2.2em 2em;
}
.nav li a:active {
  background-color: transparent;
  border-bottom: 3px #ab9767 solid;
}

.nav li:hover {
  background-color: #e0e0e0;
}

.subnav ul {
  border-right: 2px #BFBFBF solid;
  margin-top: 0em;
  padding-left: 0em;
}
.subnav li {
  list-style-type: none;
  display: block;
  font-size: 1.55em;
  font-family: "nimbus-sans-condensed", sans-serif;
  margin-bottom: 1em;
}
.subnav li a {
  color: #747373;
  display: block;
  padding: 0.5em 1.5em 0em 0em;
}
.subnav li a:active {
  color: #747373;
  border-right: 4px solid #ab9767;
  text-decoration: none;
}
.subnav li a:hover {
  color: #747373;
  text-decoration: underline;
}

.active {
  border-right: 3px solid #ab9767;
}

.fixed {
  position: relative;
}

/* END NAVIGATION STYLES*/
/* Type Styles */
h2 {
  font-size: 36px;
  color: #686868;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: helvetica;
}

h3 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #8d8c8c;
  font-style: italic;
  font-family: "nimbus-sans-condensed", sans-serif;
}

.h1-mimic {
  color: #ab9767;
  font-size: 2.18em;
  font-weight: normal;
  text-transform: uppercase;
  padding-bottom: 0.5em;
  padding-left: 0px;
}

.h2-mimic {
  color: #686868;
  font-size: 164%;
  font-weight: normal;
  text-transform: capitalize;
  padding-bottom: 0.5em;
  padding-left: 0px;
  font-family: franklin-gothic-urw, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.h3-mimic {
  color: #686868;
  font-size: 164%;
  font-weight: normal;
  text-transform: capitalize;
  padding-bottom: 0.5em;
  padding-left: 0px;
  font-family: franklin-gothic-urw, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.h4-mimic {
  color: #686868;
  font-size: 118%;
  font-weight: normal;
  padding-bottom: 0.5em;
  padding-left: 0px;
}

.p-mimic {
  font-family: "franklin-gothic-urw", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1.15em;
  padding-left: 0px;
  color: #000000;
  line-height: 1.5;
}

/* END TYPE STYLES */
/* CONTAINTER STYLES*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 90em;
}

main {
  padding: 4em 0em 4em 0em;
}

aside {
  float: left;
}

.wrapper {
  float: left;
  width: 100%;
}

.alpha {
  margin-top: 1.5em;
}

.color-sections {
  padding-left: 0px;
  margin-bottom: 1em;
}
.color-sections p {
  padding-left: 15px;
  line-height: 5px;
}

.type-section {
  padding-top: 1em;
  padding-bottom: 2em;
}

.icon-section {
  padding-top: 0em;
  padding-bottom: 2em;
}

.grid-section {
  padding-top: 0em;
  padding-bottom: 2em;
}

.seal-section {
  padding-top: 0em;
  padding-bottom: 2em;
  width: 100%;
}

.button-section {
  padding-top: 0em;
  padding-bottom: 2em;
  width: 100%;
}

/*END CONTAINER STYLES*/
/* COLOR PATTERNS */
.ju-green {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #004d40;
  margin-bottom: 1em;
}

.ju-white {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #fff;
  margin-bottom: 1em;
  border: 1px #686868 solid;
}

.ju-gold {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #ab9767;
  margin-bottom: 1em;
}

.ju-grey {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #b2b3b2;
  margin-bottom: 1em;
}

.ju-black {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #000000;
  margin-bottom: 1em;
}

.ju-red {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #7a232c;
  margin-bottom: 1em;
}

.ju-beige {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #d2c5a8;
  margin-bottom: 1em;
}

.ju-aqua {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #5c9990;
  margin-bottom: 1em;
}

.ju-light-blue {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #9bdad9;
  margin-bottom: 1em;
}

.ju-blue {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #4f86a0;
  margin-bottom: 1em;
}

.ju-purple {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #041e41;
  margin-bottom: 1em;
}

/*END COLOR PATTERNS*/
/*GRID PATTERNS*/
.grid-block {
  border: 6px solid #ab9767;
  background-color: #004d40;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 1em 0em 1em 0em;
}

/*END GRID PATTERNS*/
.vanish {
  display: block;
}

.no-pad {
  padding-left: 0px;
}

/*DESKTOP STYLES*/
@media screen and (min-width: 48em) {
  .vanish {
    display: none;
  }

  .grid-block {
    border: 6px solid #ab9767;
    background-color: #004d40;
    color: #fff;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    padding: 1em 2em 1em 2em;
  }

  header {
    background-color: #e2e1e0;
    padding-top: 0em;
    padding-bottom: 0em;
  }
  header img {
    margin-left: 3em;
    margin-top: 0.5em;
  }

  .fixed {
    position: fixed;
  }

  .seal-section {
    padding-top: 0em;
    padding-bottom: 2em;
    width: 50%;
  }

  .subnav-menu-icon {
    display: none;
  }
}
/*END DESKTOP STYLES*/
/* MOBILE NAV */
@media screen and (max-width: 48em) {
  #menu-icon {
    display: block;
    width: 40px;
    height: 40px;
  }

  .nav ul li {
    display: inline-block;
  }

  .subnav-menu-icon {
    position: relative;
    padding-left: 1.25em;
  }

  .subnav-menu-icon:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black;
  }

  .subnav a {
    width: 100%;
    border-bottom: 2px solid #b2b3b2;
    padding-bottom: 1.25em;
    text-align: center;
  }
  .subnav ul {
    border-right: 0px;
  }
}
