.fa-6 {
  font-size: 20em;
}

.fa-5 {
  font-size: 12em;
}

.fa-3 {
  font-size: 4em;
}

.fa-2 {
  font-size: 2em;
}

.fa-1 {
  font-size: inherit;
}

.btn-sharp-gld {
  float: left;
  text-align: center;
}
.btn-sharp-gld a {
  float: left;
  border: 3px solid #ab9767;
  padding: 0.5em 2em 0.5em 2em;
  color: #ab9767;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-gld a:hover {
  background-color: #ab9767;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-grn {
  float: left;
  text-align: center;
}
.btn-sharp-grn a {
  float: left;
  border: 3px solid #004d40;
  padding: 0.5em 2em 0.5em 2em;
  color: #004d40;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-grn a:hover {
  background-color: #004d40;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-red {
  float: left;
  text-align: center;
}
.btn-sharp-red a {
  float: left;
  border: 3px solid #7a232c;
  padding: 0.5em 2em 0.5em 2em;
  color: #7a232c;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-red a:hover {
  background-color: #7a232c;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-blk {
  float: left;
  text-align: center;
}
.btn-sharp-blk a {
  float: left;
  border: 3px solid #000000;
  padding: 0.5em 2em 0.5em 2em;
  color: #000000;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-blk a:hover {
  background-color: #000000;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-blu {
  float: left;
  text-align: center;
}
.btn-sharp-blu a {
  float: left;
  border: 3px solid #4f86a0;
  padding: 0.5em 2em 0.5em 2em;
  color: #4f86a0;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-blu a:hover {
  background-color: #4f86a0;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-gry {
  float: left;
  text-align: center;
}
.btn-sharp-gry a {
  float: left;
  border: 3px solid #b2b3b2;
  padding: 0.5em 2em 0.5em 2em;
  color: #b2b3b2;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-gry a:hover {
  background-color: #b2b3b2;
  color: #fff;
  text-decoration: none;
}

.btn-sharp-gld-fill {
  float: left;
  text-align: center;
}
.btn-sharp-gld-fill a {
  float: left;
  border: 3px solid #ab9767;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #ab9767;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-gld-fill a:hover {
  background-color: transparent;
  color: #ab9767;
  text-decoration: none;
}

.btn-sharp-grn-fill {
  float: left;
  text-align: center;
}
.btn-sharp-grn-fill a {
  float: left;
  border: 3px solid #004d40;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #004d40;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-grn-fill a:hover {
  background-color: transparent;
  color: #004d40;
  text-decoration: none;
}

.btn-sharp-red-fill {
  float: left;
  text-align: center;
}
.btn-sharp-red-fill a {
  float: left;
  border: 3px solid #7a232c;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #7a232c;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-red-fill a:hover {
  background-color: transparent;
  color: #7a232c;
  text-decoration: none;
}

.btn-sharp-blk-fill {
  float: left;
  text-align: center;
}
.btn-sharp-blk-fill a {
  float: left;
  border: 3px solid #000000;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #000000;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-blk-fill a:hover {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}

.btn-sharp-blu-fill {
  float: left;
  text-align: center;
}
.btn-sharp-blu-fill a {
  float: left;
  border: 3px solid #4f86a0;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #4f86a0;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-blu-fill a:hover {
  background-color: transparent;
  color: #4f86a0;
  text-decoration: none;
}

.btn-sharp-gry-fill {
  float: left;
  text-align: center;
}
.btn-sharp-gry-fill a {
  float: left;
  border: 3px solid #b2b3b2;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #b2b3b2;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  width: 100%;
}
.btn-sharp-gry-fill a:hover {
  background-color: transparent;
  color: #b2b3b2;
  text-decoration: none;
}

.btn-soft-gld {
  float: left;
  text-align: center;
}
.btn-soft-gld a {
  float: left;
  border: 3px solid #ab9767;
  padding: 0.5em 2em 0.5em 2em;
  color: #ab9767;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-gld a:hover {
  background-color: #ab9767;
  color: #fff;
  text-decoration: none;
}

.btn-soft-grn {
  float: left;
  text-align: center;
}
.btn-soft-grn a {
  float: left;
  border: 3px solid #004d40;
  padding: 0.5em 2em 0.5em 2em;
  color: #004d40;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-grn a:hover {
  background-color: #004d40;
  color: #fff;
  text-decoration: none;
}

.btn-soft-red {
  float: left;
  text-align: center;
}
.btn-soft-red a {
  float: left;
  border: 3px solid #7a232c;
  padding: 0.5em 2em 0.5em 2em;
  color: #7a232c;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-red a:hover {
  background-color: #7a232c;
  color: #fff;
  text-decoration: none;
}

.btn-soft-blk {
  float: left;
  text-align: center;
}
.btn-soft-blk a {
  float: left;
  border: 3px solid #000000;
  padding: 0.5em 2em 0.5em 2em;
  color: #000000;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-blk a:hover {
  background-color: #000000;
  color: #fff;
  text-decoration: none;
}

.btn-soft-blu {
  float: left;
  text-align: center;
}
.btn-soft-blu a {
  float: left;
  border: 3px solid #4f86a0;
  padding: 0.5em 2em 0.5em 2em;
  color: #4f86a0;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-blu a:hover {
  background-color: #4f86a0;
  color: #fff;
  text-decoration: none;
}

.btn-soft-gry {
  float: left;
  text-align: center;
}
.btn-soft-gry a {
  float: left;
  border: 3px solid #b2b3b2;
  padding: 0.5em 2em 0.5em 2em;
  color: #b2b3b2;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-gry a:hover {
  background-color: #b2b3b2;
  color: #fff;
  text-decoration: none;
}

.btn-soft-gld-fill {
  float: left;
  text-align: center;
}
.btn-soft-gld-fill a {
  float: left;
  border: 3px solid #ab9767;
  padding: 0.5em 2em 0.5em 2em;
  color: #fff;
  background-color: #ab9767;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-gld-fill a:hover {
  background-color: transparent;
  color: #ab9767;
  text-decoration: none;
}

.btn-soft-grn-fill {
  float: left;
  text-align: center;
}
.btn-soft-grn-fill a {
  float: left;
  border: 3px solid #004d40;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #004d40;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-grn-fill a:hover {
  background-color: transparent;
  color: #004d40;
  text-decoration: none;
}

.btn-soft-red-fill {
  float: left;
  text-align: center;
}
.btn-soft-red-fill a {
  float: left;
  border: 3px solid #7a232c;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #7a232c;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-red-fill a:hover {
  background-color: transparent;
  color: #7a232c;
  text-decoration: none;
}

.btn-soft-blk-fill {
  float: left;
  text-align: center;
}
.btn-soft-blk-fill a {
  float: left;
  border: 3px solid #000000;
  padding: 0.5em 2em 0.5em 2em;
  color: #fff;
  background-color: #000000;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-blk-fill a:hover {
  background-color: transparent;
  color: #000000;
  text-decoration: none;
}

.btn-soft-blu-fill {
  float: left;
  text-align: center;
}
.btn-soft-blu-fill a {
  float: left;
  border: 3px solid #4f86a0;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #4f86a0;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-blu-fill a:hover {
  background-color: transparent;
  color: #4f86a0;
  text-decoration: none;
}

.btn-soft-gry-fill {
  float: left;
  text-align: center;
}
.btn-soft-gry-fill a {
  float: left;
  border: 3px solid #b2b3b2;
  padding: 0.5em 2em 0.5em 2em;
  background-color: #b2b3b2;
  color: #fff;
  font-size: 1.25em;
  margin-top: 0.25em;
  border-radius: 10px;
  width: 100%;
}
.btn-soft-gry-fill a:hover {
  background-color: transparent;
  color: #b2b3b2;
  text-decoration: none;
}

/* CSS Document */
html {
  background-color: #efefef;
}

body {
  background-color: #fff;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

header {
  background-color: #e2e1e0;
  padding-top: 1em;
  padding-bottom: 0em;
  margin-top: -1.4em;
}
header img {
  margin-left: 0em;
}

img {
  width: 100%;
}

hr {
  width: 80%;
  float: left;
  padding-top: 2em;
  padding-bottom: 2em;
}

/* NAVIGATION STYLES */
.nav li {
  display: inline;
  padding-bottom: 0.7em;
}
.nav li a {
  list-style-type: none;
  display: inline;
  color: #686868;
  float: left;
  padding: 2em 2em 2.2em 2em;
}
.nav li a:active {
  background-color: transparent;
  border-bottom: 3px #ab9767 solid;
}

.nav li:hover {
  background-color: #e0e0e0;
}

.subnav ul {
  border-right: 2px #BFBFBF solid;
  margin-top: 0em;
  padding-left: 2em;
}
.subnav li {
  list-style-type: none;
  display: block;
  font-size: 1.55em;
  font-family: "nimbus-sans-condensed", sans-serif;
  margin-bottom: 1em;
}
.subnav li a {
  color: #747373;
  display: block;
  padding: 0.5em 1.5em 0em 0em;
}
.subnav li a:focus {
  color: #747373;
  border-right: 4px solid #ab9767;
  text-decoration: none;
}
.subnav li a:active {
  color: #747373;
  border-right: 4px solid #ab9767;
  text-decoration: none;
}
.subnav li a:hover {
  color: #747373;
  text-decoration: underline;
}

.fixed {
  position: relative;
}

/* END NAVIGATION STYLES*/
/* Type Styles */
h2 {
  font-size: 36px;
  color: #686868;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: helvetica;
}

h3 {
  font-size: 1.6em;
  margin-top: 1em;
  margin-bottom: 0.5em;
  color: #8d8c8c;
  font-style: italic;
  font-family: "nimbus-sans-condensed", sans-serif;
}

.h1-mimic {
  color: #ab9767;
  font-size: 2.18em;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 1px solid #b2b3b2;
  padding-bottom: 0.5em;
  padding-left: 0px;
}

.h2-mimic {
  color: #686868;
  font-size: 164%;
  font-weight: normal;
  text-transform: capitalize;
  border-bottom: 1px solid #b2b3b2;
  padding-bottom: 0.5em;
  padding-left: 0px;
  font-family: franklin-gothic-urw, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.h3-mimic {
  color: #686868;
  font-size: 1.45em;
  font-weight: normal;
  text-transform: capitalize;
  border-bottom: 1px solid #b2b3b2;
  padding-bottom: 0.5em;
  padding-left: 0px;
}

.h4-mimic {
  color: #686868;
  font-size: 118%;
  font-weight: normal;
  padding-bottom: 0.5em;
  padding-left: 0px;
}

/* END TYPE STYLES */
/* CONTAINTER STYLES*/
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  max-width: 68em;
}

main {
  padding: 4em 0em 4em 0em;
}

aside {
  float: left;
}

.wrapper {
  float: left;
  width: 100%;
}

.alpha {
  margin-top: 1.5em;
}

.color-sections {
  padding-left: 0px;
  margin-bottom: 1em;
}
.color-sections p {
  padding-left: 15px;
  line-height: 5px;
}

.type-section {
  padding-top: 1em;
  padding-bottom: 2em;
}

.icon-section {
  padding-top: 0em;
  padding-bottom: 2em;
}

.grid-section {
  padding-top: 0em;
  padding-bottom: 2em;
}

.seal-section {
  padding-top: 0em;
  padding-bottom: 2em;
  width: 100%;
}

.button-section {
  padding-top: 0em;
  padding-bottom: 2em;
  width: 100%;
}

/*END CONTAINER STYLES*/
/* COLOR PATTERNS */
.ju-green {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #004d40;
  margin-bottom: 1em;
}

.ju-white {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #fff;
  margin-bottom: 1em;
  border: 1px #686868 solid;
}

.ju-gold {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #ab9767;
  margin-bottom: 1em;
}

.ju-grey {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #b2b3b2;
  margin-bottom: 1em;
}

.ju-black {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #000000;
  margin-bottom: 1em;
}

.ju-red {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #7a232c;
  margin-bottom: 1em;
}

.ju-beige {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #d2c5a8;
  margin-bottom: 1em;
}

.ju-aqua {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #5c9990;
  margin-bottom: 1em;
}

.ju-light-blue {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #9bdad9;
  margin-bottom: 1em;
}

.ju-blue {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #4f86a0;
  margin-bottom: 1em;
}

.ju-purple {
  padding: 2.5em 3em 2.5em 3em;
  background-color: #041e41;
  margin-bottom: 1em;
}

/*END COLOR PATTERNS*/
/*GRID PATTERNS*/
.grid-block {
  border: 10px solid #ab9767;
  background-color: #004d40;
  color: #fff;
  font-size: 14px;
  text-align: center;
  font-weight: bold;
  padding: 1em 2em 1em 2em;
}

/*END GRID PATTERNS*/
.vanish {
  display: block;
}

.no-pad {
  padding-left: 0px;
}

@media screen and (min-width: 48em) {
  .vanish {
    display: none;
  }

  header {
    background-color: #e2e1e0;
    padding-top: 0em;
    padding-bottom: 0em;
  }
  header img {
    margin-left: 3em;
    margin-top: 0.5em;
  }

  .fixed {
    position: fixed;
  }

  .seal-section {
    padding-top: 0em;
    padding-bottom: 2em;
    width: 50%;
  }
}
