// JU Color Pallette
//==================================================

// Primary
$ju-green: #004d40;
$ju-white: #fff;

//Secondary
$ju-gold: #ab9767;
$ju-dark-grey: #686868;
$ju-grey: #b2b3b2;
$ju-black: #000000;

//Tertiary
$ju-red: #7a232c;
$ju-beige: #d2c5a8;
$ju-aqua: #5c9990;
$ju-light-blue: #9bdad9;
$ju-blue: #4f86a0;
$ju-purple: #041e41;
